@charset "UTF-8";
#header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;

}

#nav {
    width: 120em;
    margin: 0px auto;
    list-style: none;
    height: 50px;
    line-height: 50px;
    /* background-color: yellow; */
    background-color: rgb(247, 247, 247);
}

#nav li {
    /* display: flex; */
    float: left;
}

#nav li img {
    padding-left: 60px;
    padding-right: 40px;
    float: left;
    width: 50px;
}

#nav li a {
    color: black;
    text-decoration: none;
    /* 閸樿绗呴崚鎺斿殠 */
    font-size: 18px;
    display: block; 
    text-align: center;
}

#nav li p {
	margin:0 0;
    color: black;
    font-size: 18px;
    padding: 0px 30px;
}


/* 闂勩倓绨＄粭顑跨娑擄拷 閸忔湹绮幗闀愮瑐閸樺鍏橀崣妯垮 */
#nav li a:hover {
    color: red;
}

#nav li p:hover {
    color: red;
}
/*
#nav li:last-child a{
    background-color: green;
    margin:0 50px 0 100px;
    padding-right: 200px;
}
*/